/*-----------------------------------------------------------------------------------
CSS Reset
-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

/*-----------------------------------------------------------------------------------
Basic Body Defaults
-----------------------------------------------------------------------------------*/

* {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #2b2b2b;
    color: #989898;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.75;
    word-wrap: break-word;
}

section {
    display: block;
}

/*-----------------------------------------------------------------------------------
Theming
-----------------------------------------------------------------------------------*/

#dw_wrapper {
    width: 100%;
    height: auto;
    max-width: 940px;
    margin: 0 auto 0 auto;
}

#dw_countdown {
    position: relative;
    max-width: 780px;
    margin: 10% auto;
    text-align: center;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #fff;
}

.dw_launch_header {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 1;
    margin: 0 0 60px 0;
    margin: 0 0 6.0rem 0;
}

.dw_launch_subheader {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin: 0 0 60px 0;
    margin: 0 0 6.0rem 0;
}

.dw_launch_subtext {
    margin: 0 0 60px 0;
    margin: 0 0 6.0rem 0;
}

#dw_tut_credits {
    font-size: 14px;
    font-size: 1.4rem;
}

hr {
    width: 100%;
    margin: 60px auto;
    height: 1px;
    background: #333;
    border: none;
}

p > a {
    color: #38b789;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #38b789;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

p > a:hover {
    color: #34a87d;
    border-bottom: 1px solid #34a87d;
}

/*-----------------------------------------------------------------------------------
MailChimp Style
-----------------------------------------------------------------------------------*/

#mc_embed_signup {
    max-width: 600px;
    margin: 0 auto;
}

input[type="email"] {
    display: block;
    width: 100%;
    height: 4.4rem;
    max-width: 440px;
    background: #333;
    float: left;
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 400;
    color: inherit;
    line-height: 2.2rem;
    margin: 0 20px 0 0;
    padding: 0 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
}

input[type="email"]:focus {
    opacity: 0.9;
}

input[type="submit"] {
    display: block;
    width: 100%;
    height: 4.4rem;
    max-width: 140px;
    background: #38b789;
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 400;
    color: #fff;
    line-height: 2.2;
    padding: 0 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: #34a87d;
}
